<a href="https://colab.research.google.com/github/battuanudeep/BA-NUS-GAIP/blob/master/Data%20cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [277]:
from google.colab import drive
drive.mount ('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [278]:
import pandas as pd
import numpy as np
df=pd.read_csv('/gdrive/My Drive/queryok.csv')

time               19336
latitude           19336
longitude          19336
depth              19336
mag                19336
magType            18724
nst                14247
gap                18658
dmin                5087
rms                18515
net                19336
id                 19336
updated            19336
place              19336
type               19336
horizontalError     4116
depthError         13326
magError            4950
magNst             15053
status             19336
locationSource     19336
magSource          19336
dtype: int64

In [0]:
df=df.drop(['nst'],axis=1)
df=df.drop(['id'],axis=1)
df=df.drop(['updated'],axis=1)

In [0]:
df=df.dropna(subset = ['latitude', 'longitude'])

In [281]:
df[['Date','Time']] = df.time.str.split("T",expand=True)
df=df.drop(['time'],axis=1)
df[['year','month','day']] = df.Date.str.split("-",expand=True)
df=df.drop(['Date'],axis=1)
df[['time(hrs)','time(min)','time(sec)']] = df.Time.str.split(":",expand=True)
df=df.drop(['Time'],axis=1)
df['time(sec)'] = df['time(sec)'].map(lambda x: x.rstrip('Z'))
print(df)

       latitude  longitude   depth  mag  ... day  time(hrs)  time(min)  time(sec)
0       30.6505   131.0337   40.92  4.9  ...  19         20         28     41.575
1       40.6017   142.1060   54.79  5.1  ...  19         06         21     33.937
2       36.2728   140.8501   81.87  4.5  ...  19         00         23     40.577
3       43.4320   145.8823  110.76  4.7  ...  18         11         54     17.077
4       31.2373   130.3071  159.71  4.4  ...  17         20         17     19.817
...         ...        ...     ...  ...  ...  ..        ...        ...        ...
19331   42.9740   143.5680  126.80  4.1  ...  08         09         22     02.230
19332   36.3180   141.0900   47.80  4.1  ...  06         09         35     17.680
19333   44.4330   148.0160   90.10  4.7  ...  05         23         50     16.590
19334   45.0160   149.0060   33.00  4.3  ...  03         23         16     59.940
19335   44.3790   149.5160   33.00  5.4  ...  03         07         58     28.590

[19336 rows x 24 columns]

In [282]:
print(df.isna().sum())
a = df['gap'].median(skipna=True)
b = df['rms'].median(skipna=True)
df['gap'] = df['gap'].replace(np.nan, a)
df['rms'] = df['rms'].replace(np.nan, b)
i = df[(df.status != 'reviewed')].index
df.drop(i, axis=0)
df=df.drop(['net','type','horizontalError','depthError','magError','magNst','status','locationSource','magSource','dmin'], axis=1)
print(df.isna().sum())
print(df.count())

latitude               0
longitude              0
depth                  0
mag                    0
magType              612
gap                  678
dmin               14249
rms                  821
net                    0
place                  0
type                   0
horizontalError    15220
depthError          6010
magError           14386
magNst              4283
status                 0
locationSource         0
magSource              0
year                   0
month                  0
day                    0
time(hrs)              0
time(min)              0
time(sec)              0
dtype: int64
latitude       0
longitude      0
depth          0
mag            0
magType      612
gap            0
rms            0
place          0
year           0
month          0
day            0
time(hrs)      0
time(min)      0
time(sec)      0
dtype: int64
latitude     19336
longitude    19336
depth        19336
mag          19336
magType      18724
gap          19336
rms          19336
place        19336
year         19336
month        19336
day          19336
time(hrs)    19336
time(min)    19336
time(sec)    19336
dtype: int64